body {
  display: flex;
  flex-direction: column; /* Susun elemen ke bawah */
  align-items: center; /* Pusatkan elemen secara horizontal */
  justify-content: center; /* Pusatkan elemen secara vertikal */
}

.image-icon {
  margin: 0;
}
.image-icon img {
  width: 250px;
  height: 250px;
}

.angka-random h1 {
  display: flex;
  justify-content: center;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 18px;
}

.random-angka p {
  display: flex;
  justify-content: center;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 34px;
}
.buttom-random-angka {
  display: flex;
  justify-content: center;
}
.buttom-random-angka button {
  width: 250px;
  height: 30px;
  border-radius: 12px;
  font-size: 12px;
  border: 2px solid black; /* Mengubah warna border menjadi merah */
  cursor: pointer;
}

.buttom-random-angka button:hover {
  border-color: grey; /* Warna border berubah saat di-hover */
}
